* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap');
@media only screen and(max) {}

body {
    font-family: sans-serif;
    font-family: 'Aleo', serif;
}

.body {
    background-color: #f9f4f4;
}


/* Navbar Css */

.navbar-main {
    background-image: url(images/nav.png);
    display: flex;
}

.search-bar-back {
    background-color: white;
    height: 50px;
    border-radius: 4px;
}

.search-bar-back input {
    margin-top: 6px;
}

.search-bar2 {
    margin-top: 8px;
    padding-left: 7px;
    padding-right: 7px;
}

.login-button button {
    width: 100px;
    margin-top: 0px;
}

.login-button button {
    border: 1px solid #4CAF50;
    border-radius: 5px;
}

.login-button button i {
    font-weight: 600;
    margin-left: 5px;
}

.login-button button span {
    margin-left: 5px;
}

.nav-div button {
    height: 35px;
    width: 70px;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-top: 8px;
    border: 1px solid rgb(203, 177, 177);
}

.nav-div button i {
    color: black;
}

.login-button button {
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 2px;
    margin-top: 5px;
    height: 35px;
    width: 100px;
    background-color: white;
}

.login-button button:hover {
    color: white;
    background-color: #4CAF50;
    transition: 0.5s;
}

.login-button button i {
    font-weight: 600;
    margin-left: 5px;
}

.login-button button span {
    margin-left: 5px;
}

.log-in-back {
    background-color: white;
    height: 50px;
    border-radius: 4px;
}

.manue-bar {
    height: 45px;
    background-color: #4CAF50;
}

#rku {
    background-color: white;
}

#rku a {
    color: navy;
}

.manue-bar-design {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.manue-bar-design a i {
    color: white;
}

.manue-home a {
    margin-top: 10px;
}

.nabar-link {
    display: flex;
    background-color: #B4161B;
    height: 45px;
}

.nabar-link div {
    display: flex;
    width: 100px;
    text-align: center;
    justify-content: center;
}

.nabar-link div:hover {
    background-color: #4CAF50;
    transition: 0.5s;
    height: 45px;
}

.nabar-link div a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0px;
}

#dbms {
    width: 100px;
}

.nabar-link div a i {
    margin: 3px;
}

.arrow-button {
    margin-bottom: 80px;
    font-size: 25px;
    font-weight: 700;
    margin-right: 26px;
}

.chat-icon-div {
    margin-bottom: 20px;
    margin-left: 20px;
}

.chat-icon-div-img {
    height: 50px;
    border-radius: 50%;
    margin-top: 100px;
    margin-right: 10px;
}


/*-------------------------------- Manue end --------------------------------*/

.main-body {
    height: 300px;
    background-color: white;
}

.user-pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}